<template class="all">
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="数据显示" name="first">
        <el-card class="head-pic">
          <h3 class="title">内存占用率</h3>
          <h3 class="title">CPU占用率</h3>
          <h3 class="title">磁盘空间占用率</h3>
          <h3 class="title">网络接收率</h3>
          <h3 class="title d5">网络发送率</h3>
          <br>
          <br>
          <h5 class="result">{{mem_usage}}%</h5>
          <h5 class="result">{{cpu_usage}}%</h5>
          <h5 class="result" style="position:relative; right: 10px">{{disk_usage}}%</h5>
          <h5 class="result">{{net_rx}}kbps</h5>
          <h5 class="result">{{net_tx}}kbps</h5>
        </el-card>
        <el-card class="head-pic">
          <h3 class="middle">30分钟平均数据</h3>
          <h3 class="title d1">内存占用率</h3>
          <h3 class="title d1" >CPU占用率</h3>
          <h3 class="title d1">磁盘空间占用率</h3>
          <h3 class="title d1">网络接收率</h3>
          <h3 class="title d5 d1">网络发送率</h3>
          <br>
          <br>
          <h5 class="result d2">{{mean_mem_usage}}%</h5>
          <h5 class="result d2">{{mean_cpu_usage}}%</h5>
          <h5 class="result d2" style="position:relative; right: 10px">{{mean_disk_usage}}%</h5>
          <h5 class="result d3 d2">{{mean_net_rx}}kbps</h5>
          <h5 class="result d2">{{mean_net_tx}}kbps</h5>
        </el-card>
        <el-row :gutter="0" class="row">
          <el-col :span="10" class="cards">
            <el-card style="height: 500px;width: 1200px;margin: 0;">
              <div id="memory" style="height: 450px;width: 1200px"></div>
            </el-card>
          </el-col>
        </el-row>
        <el-divider><i class="el-icon-s-data"></i></el-divider>
        <el-row :gutter="0" class="row">
          <el-col :span="10" class="cards">
            <el-card style="height: 500px;width: 1200px;margin: 0">
              <div id="CPU" style="height: 500px;width: 1200px"></div>
            </el-card>
          </el-col>
        </el-row>
        <el-divider><i class="el-icon-s-data"></i></el-divider>
        <el-row :gutter="0" class="row">
          <el-col :span="10" class="cards">
            <el-card style="height: 500px;width: 1200px">
              <div id="disc" style="height: 500px;width: 1200px"></div>
            </el-card>
          </el-col>
        </el-row>
        <el-divider><i class="el-icon-s-data"></i></el-divider>
        <el-row :gutter="0" class="row">
          <el-col :span="10" class="cards">
            <el-card style="height: 500px;width: 1200px">
              <div id="rx" style="height: 500px;width: 1200px"></div>
            </el-card>
          </el-col>
        </el-row>
        <el-divider><i class="el-icon-s-data"></i></el-divider>
        <el-row :gutter="0" class="row">
          <el-col :span="10" class="cards">
            <el-card style="height: 500px;width: 1200px">
              <div id="tx" style="height: 500px;width: 1200px"></div>
            </el-card>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="配置管理" name="second">
        <el-table
          ref="multipleTable"
          :data="tableDatas"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            prop="id"
            label="id"
            width="150">
          </el-table-column>
          <el-table-column
            prop="name"
            label="名字"
            width="150">
          </el-table-column>
          <el-table-column
            prop="men_usage"
            label="内存占用率"
            width="150">
          </el-table-column>
          <el-table-column
            prop="cpu_usage"
            label="CPU占用率"
            width="150">
          </el-table-column>
          <el-table-column
            prop="disk_usage"
            label="磁盘空间占用率"
            width="150">
          </el-table-column>
          <el-table-column
            prop="rx_usage"
            label="网络发送率"
            width="150"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="tx_usage"
            label="网路接受率"
            width="150"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            fixed="right"
            label="操作">
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
              <el-button type="text" size="small">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>

    </el-tabs>
  </div>
</template>

<script>
import axios from "axios";
import echarts from 'echarts';
export default {
  name: "index",
  data(){
    return{
      data_x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun','add'],
      data_y:["1%","1%","1%", "1%", "1%", "1%", "1%","1%"],
      usages:[],
      cpu_usages:[],
      disk_usages:[],
      men_usages:[],
      net_rxs:[],
      net_txs:[],
      time:[],
      usage:"",
      mean_usage:"",
      cpu_usage:"",
      disk_usage:"",
      mem_usage:"",
      net_rx:"",
      net_tx:"",
      mean_cpu_usage:"",
      mean_disk_usage:"",
      mean_mem_usage:"",
      mean_net_rx:"",
      mean_net_tx:"",
      multipleSelection: [],
      activeName: 'first',

      tableDatas: [],

      //Vm1
      men_vm1_usage:"",
      disc_vm1_usage:"",
      cpu_vm1_usage:"",
      net_vm1_tx:"",
      net_vm1_rx:"",

      //Vm2
      men_vm2_usage:"",
      disc_vm2_usage:"",
      cpu_vm2_usage:"",
      net_vm2_tx:"",
      net_vm2_rx:"",

      //Vm3
      men_vm3_usage:"",
      disc_vm3_usage:"",
      cpu_vm3_usage:"",
      net_vm3_tx:"",
      net_vm3_rx:"",

      //shiya
      op:1
    }
  },
  created(){
    this.getSeverMeanUsage()
    this.getSeverUsage()
    this.getVm1Usage()
    this.getVm2Usage()
    this.getVm3Usage()
  },
  mounted() {
    // 基于准备好的dom，初始化echarts实例
    setTimeout(() => {
    let myChart1 = this.$echarts.init(document.getElementById("memory"));
    var option1;
    option1 = {
      title: {
        text: '内存占用率'
      },
      tooltip : {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        }
      },
      xAxis: {
        type: 'category',
        axisLabel:{
          interval:0,
          rotate:30,
        },
        data: this.time
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value}%'
        }
      },
      series: [
        {
          data: this.men_usages,
          type: 'line',
          smooth: true
        }
      ]
    };
    option1 && myChart1.setOption(option1);
    //CPU的echarts实例
    let myChart2 = this.$echarts.init(document.getElementById("CPU"));
    var option2;
    option2 = {
      title: {
        text: 'CPU占用率'
      },
      tooltip : {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        }
      },
      xAxis: {
        type: 'category',
        axisLabel:{
          interval:0,
          rotate:30,
        },
        data: this.time
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value}%'
        }
      },
      series: [
        {
          data: this.cpu_usages,
          type: 'line',
          smooth: true
        }
      ]
    };
    option2 && myChart2.setOption(option2,true);

    //disc的echarts实例
    let myChart3 = this.$echarts.init(document.getElementById("disc"));
    var option3;
    option3 = {
      title: {
        text: '磁盘空间占用率'
      },
      tooltip : {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        }
      },
      xAxis: {
        type: 'category',
        axisLabel:{
          interval:0,
          rotate:30,
        },
        data: this.time
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value}%'
        }
      },
      series: [
        {
          data: this.disk_usages,
          type: 'line',
          smooth: true
        }
      ]
    };
    option3 && myChart3.setOption(option3);

    //network的echarts实例
    let myChart4 = this.$echarts.init(document.getElementById("rx"));
    var option4;
    option4 = {
      title: {
        text: '网络接受率'
      },
      tooltip : {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        }
      },
      xAxis: {
        type: 'category',
        axisLabel:{
          interval:0,
          rotate:30,
        },
        data: this.time
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value}Kbps'
        }
      },
      series: [
        {
          data: this.net_rxs,
          type: 'line',
          smooth: true
        }
      ]
    };
    option4 && myChart4.setOption(option4);

      //network的echarts实例
      let myChart5 = this.$echarts.init(document.getElementById("tx"));
      var option5;
      option5 = {
        title: {
          text: '网络发送率'
        },
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        },
        xAxis: {
          type: 'category',
          axisLabel:{
            interval:0,
            rotate:30,
          },
          data: this.time
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value}Kbps'
          }
        },
        series: [
          {
            data: this.net_txs,
            type: 'line',
            smooth: true
          }
        ]
      };
      option5 && myChart5.setOption(option5);
    }, 1000)
    this.timer = setInterval(() => {
      setTimeout(this.queryInfo, 0)
      //
      let myChart1 = this.$echarts.init(document.getElementById("memory"));
      var option1;
      option1 = {
        title: {
          text: '内存占用率'
        },
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        },
        xAxis: {
          type: 'category',
          axisLabel:{
            interval:0,
            rotate:30,
          },
          data: this.time
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value}%'
          }
        },
        series: [
          {
            data: this.men_usages,
            type: 'line',
            smooth: true
          }
        ]
      };
      option1 && myChart1.setOption(option1);
      //CPU的echarts实例
      let myChart2 = this.$echarts.init(document.getElementById("CPU"));
      var option2;
      option2 = {
        title: {
          text: 'CPU占用率'
        },
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        },
        xAxis: {
          type: 'category',
          axisLabel:{
            interval:0,
            rotate:30,
          },
          data: this.time
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value}%'
          }
        },
        series: [
          {
            data: this.cpu_usages,
            type: 'line',
            smooth: true
          }
        ]
      };
      option2 && myChart2.setOption(option2,true);

      //disc的echarts实例
      let myChart3 = this.$echarts.init(document.getElementById("disc"));
      var option3;
      option3 = {
        title: {
          text: '磁盘空间占用率'
        },
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        },
        xAxis: {
          type: 'category',
          axisLabel:{
            interval:0,
            rotate:30,
          },
          data: this.time
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value}%'
          }
        },
        series: [
          {
            data: this.disk_usages,
            type: 'line',
            smooth: true
          }
        ]
      };
      option3 && myChart3.setOption(option3);

      //network的echarts实例
      let myChart4 = this.$echarts.init(document.getElementById("rx"));
      var option4;
      option4 = {
        title: {
          text: '网络接受率'
        },
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        },
        xAxis: {
          type: 'category',
          axisLabel:{
            interval:0,
            rotate:30,
          },
          data: this.time
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value}Kbps'
          }
        },
        series: [
          {
            data: this.net_rxs,
            type: 'line',
            smooth: true
          }
        ]
      };
      option4 && myChart4.setOption(option4);

      //network的echarts实例
      let myChart5 = this.$echarts.init(document.getElementById("tx"));
      var option5;
      option5 = {
        title: {
          text: '网络发送率'
        },
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        },
        xAxis: {
          type: 'category',
          axisLabel:{
            interval:0,
            rotate:30,
          },
          data: this.time
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            formatter: '{value}Kbps'
          }
        },
        series: [
          {
            data: this.net_txs,
            type: 'line',
            smooth: true
          }
        ]
      };
      option5 && myChart5.setOption(option5);
    }, 1000*10)
  },
  methods: {
    getSeverMeanUsage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/sever_30m", {
        params:{},
        headers: {}
      }).then(function (res){
        _this.mean_cpu_usage = res.data[0].mean_cpu_usage.toFixed(2)
        _this.mean_mem_usage = res.data[0].mean_mem_usage.toFixed(2)
        _this.mean_disk_usage = res.data[0].mean_disk_usage.toFixed(2)
        _this.mean_net_rx = res.data[0].mean_net_rx.toFixed(2)
        _this.mean_net_tx = res.data[0].mean_net_tx.toFixed(2)
        console.log(res.data)
      })
    },
    getSeverUsage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/sever_5s", {
          params:{},
          headers: {}
        })
        .then(function (res) {
          _this.usage = res.data
          let n = _this.usage.length
          for(let i = 0;i<n;i++) {
            _this.cpu_usages.push(_this.usage[n-i-1].cpu_usage)
            _this.disk_usages.push(_this.usage[n-i-1].disk_usage)
            _this.men_usages.push(_this.usage[n-i-1].mem_usage)
            _this.net_rxs.push(_this.usage[n-i-1].net_rx)
            _this.net_txs.push(_this.usage[n-i-1].net_tx)
            _this.time.push(_this.usage[n-i-1].time.split('.')[0])
          }
          _this.cpu_usage = _this.usage[0].cpu_usage
          _this.disk_usage = _this.usage[0].disk_usage
          _this.mem_usage = _this.usage[0].mem_usage
          _this.net_rx = _this.usage[0].net_rx
          _this.net_tx = _this.usage[0].net_tx

      })
    },
    getSeverUsagenext (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/sever_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.usage = res.data
          let n = _this.usage.length
            _this.cpu_usages.push(_this.usage[0].cpu_usage)
            _this.disk_usages.push(_this.usage[0].disk_usage)
            _this.men_usages.push(_this.usage[0].mem_usage)
            _this.net_rxs.push(_this.usage[0].net_rx)
            _this.net_txs.push(_this.usage[0].net_tx)
            _this.time.push(_this.usage[0].time.split('.')[0])

          //删除第一个
          _this.cpu_usages.shift()
          _this.disk_usages.shift()
          _this.men_usages.shift()
          _this.net_rxs.shift()
          _this.net_txs.shift()
          _this.time.shift()

          _this.cpu_usage = _this.usage[0].cpu_usage
          _this.disk_usage = _this.usage[0].disk_usage
          _this.mem_usage = _this.usage[0].mem_usage
          _this.net_rx = _this.usage[0].net_rx
          _this.net_tx = _this.usage[0].net_tx
        })
    },
    getVm1Usage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/vm1_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.vm1_usage = res.data
          let n = _this.vm1_usage.length
          _this.cpu_vm1_usage = _this.vm1_usage[n-1].cpu_usage
          _this.disk_vm1_usage = _this.vm1_usage[n-1].disk_usage
          _this.mem_vm1_usage = _this.vm1_usage[n-1].mem_usage
          _this.net_vm1_rx = _this.vm1_usage[n-1].net_rx
          _this.net_vm1_tx = _this.vm1_usage[n-1].net_tx

          let table = {
            id:_this.tableDatas.length+1,
            name:`虚拟机(${_this.tableDatas.length+1})`,
            men_usage:_this.mem_vm1_usage,
            cpu_usage:_this.cpu_vm1_usage,
            disk_usage:_this.disk_vm1_usage,
            rx_usage:_this.net_vm1_rx,
            tx_usage:_this.net_vm1_tx
          }
          _this.tableDatas.push(table)
        })
    },
    getVm2Usage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/vm2_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.vm2_usage = res.data
          let n = _this.vm2_usage.length
          _this.cpu_vm2_usage = _this.vm2_usage[n-1].cpu_usage
          _this.disk_vm2_usage = _this.vm2_usage[n-1].disk_usage
          _this.mem_vm2_usage = _this.vm2_usage[n-1].mem_usage
          _this.net_vm2_rx = _this.vm2_usage[n-1].net_rx
          _this.net_vm2_tx = _this.vm2_usage[n-1].net_tx

          let table = {
            id:_this.tableDatas.length+1,
            name:`虚拟机(${_this.tableDatas.length+1})`,
            men_usage:_this.mem_vm2_usage,
            cpu_usage:_this.cpu_vm2_usage,
            disk_usage:_this.disk_vm2_usage,
            rx_usage:_this.net_vm2_rx,
            tx_usage:_this.net_vm2_tx
          }
          _this.tableDatas.push(table)
        })
    },
    getVm3Usage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/vm3_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.vm3_usage = res.data
          let n = _this.vm3_usage.length
          _this.cpu_vm3_usage = _this.vm3_usage[n-1].cpu_usage
          _this.disk_vm3_usage = _this.vm3_usage[n-1].disk_usage
          _this.mem_vm3_usage = _this.vm3_usage[n-1].mem_usage
          _this.net_vm3_rx = _this.vm3_usage[n-1].net_rx
          _this.net_vm3_tx = _this.vm3_usage[n-1].net_tx
          let table = {
            id:_this.tableDatas.length+1,
            name:`虚拟机(${_this.tableDatas.length+1})`,
            men_usage:_this.mem_vm3_usage,
            cpu_usage:_this.cpu_vm3_usage,
            disk_usage:_this.disk_vm3_usage,
            rx_usage:_this.net_vm3_rx,
            tx_usage:_this.net_vm3_tx
          }
          _this.tableDatas.push(table)
        })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    queryInfo(){
      this.getSeverUsagenext()
    },
  },
  beforeDestroy(){
    clearInterval(this.timer);
    this.timer = null;
  }
}

</script>

<style scoped>
.all{
  background-color: darkblue;
}
.title{
  margin: 70px;
  display: inline;
  position: relative;
  left: 20px;
}
.result{
  margin: 104px;
  display: inline;
  position: relative;
  left: 20px;
}
.cards{
  position: relative;
  left: 20px;
}
.d3{
  position: relative;
  right: 20px;
  margin: 90px;
}
.d5{
  margin: 115px;
}
.middle{
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  float: left;
  display:flex;
  align-items: center;
  font-size: small;
  width: 20px;
  margin-top: 0px;
}
.d1{
  position: relative;
  top:20px;
}
.d2{
  position: relative;
  top:20px;
}

.el-card__body{
  padding: 0px;
}
  /*.head-pic{*/
  /*  padding: 20px;*/
  /*}*/
</style>
