<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
<style>
#app{
  background-color: #f0f2f5;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.html{
  background-color: #f0f2f5;
}
</style>
