<template>
  <div class="dashboard-container">
    <el-row :gutter="20" class="row">
      <el-col :span="6" class="cards">
        <el-card shadow="always" class="card">
          <div class="context">
          <i class="el-icon-menu"></i>
          服务器
            <el-button  type="info" v-on:click="server()" id="mainbutton">主页</el-button>
            <el-button type="primary" class="button" v-if="ON" v-on:click="change">开启监控</el-button>
            <el-button type="warning" class="button" v-if="!ON" v-on:click="change">关闭监控</el-button>
          </div>
        </el-card>
        <el-card v-if="!isIcon" style="margin: 0;padding: 0;">
          <div class="block" style="margin-top: 0">
            <img src="../../icons/images/men.png"/>
            <p class="p1">内存占用率</p>
            <p class="p2">{{mem_server_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: blueviolet">
            <img src="../../icons/images/cpu.png"/>
            <p class="p1">CPU占用率</p>
            <p class="p2">{{cpu_server_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: brown">
            <img src="../../icons/images/disc.png"/>
            <p class="p1">磁盘空间占用率</p>
            <p class="p2">{{disk_server_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络接收率</p>
            <p class="p2">{{net_server_tx}}kbps</p>
          </div>

          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络发送率</p>
            <p class="p2">{{net_server_rx}}kbps</p>
          </div>
          <br>
        </el-card>
        <div  class="down" v-if="isIcon" v-on:click="show"><i class="el-icon-arrow-down" id="icon"></i></div>
        <div  class="down" v-if="!isIcon" v-on:click="show"><i class="el-icon-arrow-up" id="icon"></i></div>
      </el-col>
      <el-col :span="6" class="cards" >
        <el-card shadow="always" class="card">
          <div class="context">
          <i class="el-icon-s-platform"></i>
          虚拟机1
          <el-button  type="info" v-on:click="VM1()" id="mainbutton">主页</el-button>
          <el-button type="primary" class="button" v-if="ON1" v-on:click="change1">开启监控</el-button>
          <el-button type="warning" class="button" v-if="!ON1" v-on:click="change1">关闭监控</el-button>
          </div>
        </el-card>
        <el-card v-if="!isIcon1" style="margin: 0;padding: 0;">
          <div class="block" style="margin-top: 0">
          <img src="../../icons/images/men.png"/>
          <p class="p1">内存占用率</p>
            <p class="p2">{{mem_vm1_usage}}%</p>
        </div>
          <div class="block" style="border-top-color: blueviolet">
            <img src="../../icons/images/cpu.png"/>
            <p class="p1">CPU占用率</p>
            <p class="p2">{{cpu_vm1_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: brown">
            <img src="../../icons/images/disc.png"/>
            <p class="p1">磁盘空间占用率</p>
            <p class="p2">{{disk_vm1_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络发送率</p>
            <p class="p2">{{net_vm1_rx}}kbps</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络接收率</p>
            <p class="p2">{{net_vm1_tx}}kbps</p>
          </div>
          <br>
        </el-card>
        <div  class="down" v-if="isIcon1" v-on:click="show1"><i class="el-icon-arrow-down" id="icon"></i></div>
        <div  class="down" v-if="!isIcon1" v-on:click="show1"><i class="el-icon-arrow-up" id="icon"></i></div>
      </el-col>
      <el-col :span="6" class="cards">
        <el-card shadow="always" class="card" onclick="VM2">
          <div class="context">
          <i class="el-icon-s-platform"></i>
          虚拟机2
            <el-button  type="info" v-on:click="VM2()" id="mainbutton">主页</el-button>
            <el-button type="primary" class="button" v-if="ON2" v-on:click="change2">开启监控</el-button>
            <el-button type="warning" class="button" v-if="!ON2" v-on:click="change2">关闭监控</el-button>
          </div>
        </el-card>
        <el-card v-if="!isIcon2">
          <div class="block" style="margin-top: 0">
            <img src="../../icons/images/men.png"/>
            <p class="p1">内存占用率</p>
            <p class="p2">{{mem_vm2_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: blueviolet">
            <img src="../../icons/images/cpu.png"/>
            <p class="p1">CPU占用率</p>
            <p class="p2">{{cpu_vm2_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: brown">
            <img src="../../icons/images/disc.png"/>
            <p class="p1">磁盘空间占用率</p>
            <p class="p2">{{disk_vm2_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络发送率</p>
            <p class="p2">{{net_vm2_rx}}kbps</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络接收率</p>
            <p class="p2">{{net_vm2_tx}}kbps</p>
          </div>
        </el-card>
        <div  class="down" v-if="isIcon2" v-on:click="show2"><i class="el-icon-arrow-down" id="icon"></i></div>
        <div  class="down" v-if="!isIcon2" v-on:click="show2"><i class="el-icon-arrow-up" id="icon"></i></div>
      </el-col>
      <el-col :span="6" class="cards">
        <el-card shadow="always" class="card" onclick="VM3">
          <div class="context">
          <i class="el-icon-s-platform"></i>
          虚拟机3
            <el-button  type="info" v-on:click="VM3()" id="mainbutton">主页</el-button>
            <el-button type="primary" class="button" v-if="ON3" v-on:click="change3">开启监控</el-button>
            <el-button type="warning" class="button" v-if="!ON3" v-on:click="change3">关闭监控</el-button>
          </div>
        </el-card>
        <el-card v-if="!isIcon3">
          <div class="block" style="margin-top: 0">
            <img src="../../icons/images/men.png"/>
            <p class="p1">内存占用率</p>
            <p class="p2">{{mem_vm3_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: blueviolet">
            <img src="../../icons/images/cpu.png"/>
            <p class="p1">CPU占用率</p>
            <p class="p2">{{cpu_vm3_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: brown">
            <img src="../../icons/images/disc.png"/>
            <p class="p1">磁盘空间占用率</p>
            <p class="p2">{{disk_vm3_usage}}%</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络发送率</p>
            <p class="p2">{{net_vm3_rx}}kbps</p>
          </div>
          <div class="block" style="border-top-color: cornsilk">
            <img src="../../icons/images/network.png"/>
            <p class="p1">网络接收率</p>
            <p class="p2">{{net_vm3_tx}}kbps</p>
          </div>
        </el-card>
        <div  class="down" v-if="isIcon3" v-on:click="show3"><i class="el-icon-arrow-down" id="icon"></i></div>
        <div  class="down" v-if="!isIcon3" v-on:click="show3"><i class="el-icon-arrow-up" id="icon"></i></div>
      </el-col>
    </el-row>
    <div id="main" style="width:100%;height:900px"></div>
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import echarts from 'echarts'
import axios from "axios";


export default {
  name: 'Dashboard',
  components: {},
  data(){
    return {
      ON:true,
      ON1: true,
      ON2: true,
      ON3: true,
      isIcon:true,
      isIcon1:true,
      isIcon2:true,
      isIcon3:true,

      //usage
      server_usage:"",
      vm1_usage:"",
      vm2_usage:"",
      vm3_usage:"",

      //server
      men_server_usage:"",
      disc_server_usage:"",
      cpu_server_usage:"",
      net_server_tx:"",
      net_server_rx:"",

      //Vm1
      men_vm1_usage:"",
      disc_vm1_usage:"",
      cpu_vm1_usage:"",
      net_vm1_tx:"",
      net_vm1_rx:"",

      //Vm2
      men_vm2_usage:"",
      disc_vm2_usage:"",
      cpu_vm2_usage:"",
      net_vm2_tx:"",
      net_vm2_rx:"",

      //Vm3
      men_vm3_usage:"",
      disc_vm3_usage:"",
      cpu_vm3_usage:"",
      net_vm3_tx:"",
      net_vm3_rx:"",
    }
  },
  created(){
    this.queryInfo()
    this.timer = setInterval(() => {
        setTimeout(this.queryInfo, 0)
    }, 1000*10)
},

  computed: {
    ...mapGetters([
      'name'
    ])
  },
  methods: {
    server() {
      this.$router.push('/example/server')
    },
    VM1() {
      this.$router.push('/example/vm1')
    },
    VM2() {
      this.$router.push('/example/vm2')
    },
    VM3() {
      this.$router.push('/example/vm3')
    },
    change(){
      this.ON = !this.ON
    },
    change1(){
      this.ON1 = !this.ON1
    },
    change2(){
      this.ON2 = !this.ON2
    },
    change3(){
      this.ON3 = !this.ON3
    },
    show(){
      if(!this.ON) {
        this.isIcon = !this.isIcon
      }
      else{
        alert('未开启监控')
      }
    },
    show1(){
      if(!this.ON1) {
        this.isIcon1 = !this.isIcon1
      }
      else{
        alert('未开启监控')
      }
    },
    show2(){
      if(!this.ON2) {
        this.isIcon2 = !this.isIcon2
      }
      else{
        alert('未开启监控')
      }
    },
    show3(){
      if(!this.ON3) {
        this.isIcon3 = !this.isIcon3
      }
      else{
        alert('未开启监控')
      }
    },
    getSeverUsage(){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/sever_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.server_usage = res.data
          let n = _this.server_usage.length
          _this.cpu_server_usage = _this.server_usage[0].cpu_usage
          _this.disk_server_usage = _this.server_usage[0].disk_usage
          _this.mem_server_usage = _this.server_usage[0].mem_usage
          _this.net_server_rx = _this.server_usage[0].net_rx
          _this.net_server_tx = _this.server_usage[0].net_tx
          console.log(_this.server_usage)
        })
    },
    getVm1Usage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/vm1_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.vm1_usage = res.data
          let n = _this.vm1_usage.length
          _this.cpu_vm1_usage = _this.vm1_usage[0].cpu_usage
          _this.disk_vm1_usage = _this.vm1_usage[0].disk_usage
          _this.mem_vm1_usage = _this.vm1_usage[0].mem_usage
          _this.net_vm1_rx = _this.vm1_usage[0].net_rx
          _this.net_vm1_tx = _this.vm1_usage[0].net_tx
          console.log(_this.cpu_vm1_usage)
        })
    },
    getVm2Usage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/vm2_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.vm2_usage = res.data
          let n = _this.vm2_usage.length
          _this.cpu_vm2_usage = _this.vm2_usage[0].cpu_usage
          _this.disk_vm2_usage = _this.vm2_usage[0].disk_usage
          _this.mem_vm2_usage = _this.vm2_usage[0].mem_usage
          _this.net_vm2_rx = _this.vm2_usage[0].net_rx
          _this.net_vm2_tx = _this.vm2_usage[0].net_tx
          console.log(_this.mem_vm2_usage)
        })
    },
    getVm3Usage (){
      let _this = this;
      axios.get("http://127.0.0.1:8000/api/vm3_5s", {
        params:{},
        headers: {}
      })
        .then(function (res) {
          _this.vm3_usage = res.data
          let n = _this.vm3_usage.length
          _this.cpu_vm3_usage = _this.vm3_usage[0].cpu_usage
          _this.disk_vm3_usage = _this.vm3_usage[0].disk_usage
          _this.mem_vm3_usage = _this.vm3_usage[0].mem_usage
          _this.net_vm3_rx = _this.vm3_usage[0].net_rx
          _this.net_vm3_tx = _this.vm3_usage[0].net_tx
        })
    },
    queryInfo(){
      //do something
      this.getVm2Usage()
      this.getVm3Usage()
      this.getVm1Usage()
      this.getSeverUsage()
    },
  },
  mounted() {
    // 基于准备好的dom，初始化echarts实例
  },
  beforeDestroy(){
    clearInterval(this.timer);
    this.timer = null;
  }
}
</script>

<style lang="scss">
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
#echartsExample{
  width: 500px;
  height: 500px;
}
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;
}
.card{
  padding-right: 50px;
  height: 80px;
  line-height: 5;
  margin-bottom: 0;
  padding-bottom: 0;
}
.context{
  position: relative;
  bottom: 20px;
}
.down{
  margin: 0;
  padding: 0;
  height: 20px;
  background-color: white;
}
.el-icon-arrow-down{
  position: relative;
  left:140px;
  top:0px;
  margin: 0;
  padding-top: 0px;
}
.el-icon-arrow-up{
  position: relative;
  left:140px;
  top:0px;
  margin: 0;
  padding-top: 0px;
}
.button{
  width: 70px;
  height: 40px;
  position: relative;
  left: 60px;
}
.el-button{
  margin: 0;
  padding:0;
  font-size: 7px;
}
.el-card__body {
  padding: 20px 0px 0px 20px;
}
.line{
  margin: 10px;
  padding: 10px;
}
.head_word .head_data{
  width: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 100px;
}
.block img {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 40px;
}
.block p {
  width: 120px;
  height: 25px;
  line-height: 20px;
  overflow: hidden;
  margin: 0px;
  position: relative;
  left: 40px;
}
.block{
  width: 90%;
  padding: 10px;
  border-width:thick thin thin thin;
  border-style: outset;
  border-top-color: #20a0ff;
  margin-top: 40px;
}
.p1{
  font-family: Arial Black, Gadget, sans-serif;
}
.p2{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}
</style>
